@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(to right, #F5F5F5);
    color: #F5F5F5; 
    width: 100%;  
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    padding-right: 500px;
    
}
.container p{
    margin-bottom: 18px;
    color: black;
    font-size: 26px;
    text-align: center;
    
}
.form-box {
    height: 741px;
    width: 550px;
    margin-bottom: 50px;
    padding: 30px;
    background: #BF8E8E;
    border-radius: 30px;
    
}

.form-box form {
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.formul p{
    font-size: 25px;
    text-align: center;
}


h2 {
    margin-top: 60px;
    font-size: 60px;
    text-align: center;
    margin-bottom: 5px;
}

select{
    width: 100%;
    padding: 12px;
    background-color: #F5F5F5;
    border-radius: 15px;
    border: 1px solid #986E6E;
    outline: none;
    font-size: 30px;
    color: rgba(152, 110, 110, 0.50);
    margin-bottom: 20px;
    
}

input {
    width: 100%;
    padding: 12px;
    background-color: #F5F5F5;
    border-radius: 15px;
    border: 1px solid #986E6E;
    outline: none;
    font-size: 30px;
    color: rgba(152, 110, 110, 0.50);
    margin-bottom: 20px;   
}
input::placeholder{
    color: rgba(152, 110, 110, 0.50);

}
button {
    width: 85%;
    height: 6rem;
    padding: 12px;
    background: #730E0E;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #E5E4E2;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

.image-box{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 70vw;
    

    
}

.image-box img{
    clip-path: polygon(0 0, 94% 0, 24% 100%, 0% 100%);
    height: 100%;
    width: 100%;
    
}

